Repository ford-at-aws/aws-doc-sdk-examples, pull requests merged in 2022-10, with the labels that each got.

#7 Update README.md
  ruby/README.md
Labels: lang/ruby

#8 Rename README.md to README.rst
  cpp/README.rst
Labels: lang/cpp

#9 Update Dockerfile
  rust_dev_preview/Dockerfile
Labels: lang/rust
